@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply font-sans antialiased text-black bg-white overscroll-none selection:bg-red selection:text-white;
}

.bg-red {
  @apply selection:bg-white selection:text-red;
}

.bg-orange {
  @apply selection:bg-white selection:text-orange;
}

.bg-white {
  @apply selection:bg-red selection:text-white;
}

.select-red {
  @apply selection:bg-red selection:text-white !important;
}

.select-white {
  @apply selection:bg-white selection:text-red;
}

.select-dark {
  @apply selection:bg-white selection:text-black;
}

html {
  @apply scroll-smooth;
}

.content {
  & > * {
    @apply mb-5;
  }

  & a {
    @apply underline text-red font-semibold outline-none focus-visible:outline-current focus-visible:outline-2 focus-visible:outline-dashed;
  }

  & > h1, & > .h1 {
    @apply text-3xl md:text-4xl;
  }

  & > h2, & > .h2 {
    @apply text-2xl md:text-3xl;
  }

  & > h3, & > .h3 {
    @apply text-xl md:text-2xl;
  }

  & > h4, & > .h4 {
    @apply text-lg md:text-xl;
  }

  & * + h2 {
    @apply mt-10;
  }

  & * + h3 {
    @apply mt-10;
  }

  & * + h4 {
    @apply mt-10;
  }
}

.content--blog {
  & ul {
    @apply list-disc list-inside;

    & ul {
      @apply ml-6;
    }
  }

  & ol {
    @apply list-decimal list-inside;
    
    & ol {
      @apply ml-6;
    }
  }
}

.a11y-focus {
  @apply outline-none focus-visible:outline-current focus-visible:outline-2 focus-visible:outline-dashed;
}


.fancy-ol {
  counter-reset: lt 0;

  & > li {
    @apply relative pl-10 md:pl-12 lg:pl-16 mb-4 md:mb-8 lg:mb-10;
    counter-increment: lt;

    &:before {
      content: counter(lt);
      @apply absolute top-1 left-0 w-6 md:w-8 lg:w-10 h-6 md:h-8 lg:h-10 rounded-full font-semibold text-white bg-red flex items-center justify-center text-sm md:text-base lg:text-lg select-white;
    }

    &:nth-of-type(1) {
      &:before {
        @apply bg-red;
      }
    }

    &:nth-of-type(2) {
      &:before {
        @apply bg-[#FF130D];
      }
    }

    &:nth-of-type(3) {
      &:before {
        @apply bg-[#FF820D];
      }
    }
    &:nth-of-type(4) {
      &:before {
        @apply bg-[#FF5100];
      }
    }
    &:nth-of-type(5) {
      &:before {
        @apply bg-[#FF130D];
      }
    }
    &:nth-of-type(6) {
      &:before {
        @apply bg-red;
      }
    }

    &:nth-of-type(7) {
      &:before {
        @apply bg-[#FF130D];
      }
    }

    &:nth-of-type(8) {
      &:before {
        @apply bg-[#FF820D];
      }
    }
    &:nth-of-type(9) {
      &:before {
        @apply bg-[#FF5100];
      }
    }
    &:nth-of-type(10) {
      &:before {
        @apply bg-[#FF130D];
      }
    }
  }
}

.letter-wrap {
  @apply bg-red text-white inline p-1;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.letter-wrap--orange {
  @apply bg-orange;
}

.scroll-hide::-webkit-scrollbar {
    display: none;
}